#red{background-color: red;}
#orange{background-color: orange;}
#yellow{background-color: yellow;}
#green{background-color: green;}
#blue{background-color: blue;}
#black{background-color: black;}
#white{background-color: white;}

#lightred{background-color: #f9beab;}
#lightorange{background-color: #f6d46c;}
#lightyellow{background-color: #f9f265;}
#lightgreen{background-color: #e4e795;}
#lightblue{background-color: #a5a5d6;}
#lightgray{background-color: #d1d1d1;}

#darkred{background-color: #781b13;}
#darkyellow{background-color: #48411b;}
#darkgreen{background-color: #1a502e;}
#darkblue{background-color: #050e51;}
#brown{background-color: brown;}
#darkgray{background-color: #20292e;}